{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
Post
{% endblock title %}


{% block content %}
<h1>{{ post.name|censor }}</h1>
<h2>Категория:
    {% for category in post.category.all %}
        {{ category }} {% if not forloop.last %}, {% endif %}
    {% endfor %}</h2>
<h3>{{ post.time_in|date:'d M Y' }}</h3>
<p>{{ post.text|censor }}</p>

<form action="{% if post.article_or_news != 'AR' %} {{ post.id }}/news/update/ {% else %} {{ post.id }}/articles/update/ {% endif %}">
    <button>Редактировать</button>
</form>
<form action="{% if post.article_or_news != 'AR' %} {{ post.id }}/news/delete/ {% else %} {{ post.id }}/articles/delete/ {% endif %}">
    <button>Удалить</button>
</form>
{% endblock content %}